h3 # FIXME: ISSUE with python 3.9 and  with h3==3.6.1 on Mac
numpy
pandas
scikit-learn==1.5.2
mypy
black
bandit
ruff
google-cloud-storage
google-cloud-aiplatform
fsspec
gcsfs
types-PyYAML 
flask
# Add safety checks and vulnerabilities in dependencies

